In [28]:
import pandas as pd
import numpy as np

In [75]:
all_df = pd.read_excel('C:/Users/caban/Desktop/career/FinLab/kospi_portfolio/kospi_corp_list.xlsx')

In [76]:
all_df.head()

,회사명,종목코드,업종,주요제품,상장일,결산월,대표자명,홈페이지,지역
0,세아제강,306200,1차 철강 제조업,강관,2018-10-05,12월,이휘령,http://(www.seahsteel.co.kr),서울특별시
1,하나제약,293480,의약품 제조업,완제의약품,2018-10-02,12월,이윤하,http://www.hanaph.co.kr,경기도
2,우진아이엔에스,10400,건물설비 설치 공사업,반도체/디스플레이 코팅덕트,2018-09-14,12월,홍평우,http://www.woojini.com,서울특별시
3,신한알파리츠,293940,부동산 임대 및 공급업,비거주 부동산 임대 서비스업,2018-08-08,03월,이준구,http://www.shalphareit.com,서울특별시
4,한일시멘트,300720,"시멘트, 석회, 플라스터 및 그 제품 제조업","시멘트, 레미콘, 레미탈",2018-08-06,12월,곽의영,http://www.hanilcement.com,서울특별시

In [77]:
all_df['종목코드'].head()

0    306200
1    293480
2     10400
3    293940
4    300720
Name: 종목코드, dtype: int64

In [79]:
all_code = all_df['종목코드']

In [80]:
all_code = all_code.map('{:06d}'.format)

In [81]:
all_code.head()

0    306200
1    293480
2    010400
3    293940
4    300720
Name: 종목코드, dtype: object

In [154]:
def calculate_fluctuation(stock_code):
    target_url = ('http://finance.naver.com/item/sise_day.nhn?code=' + stock_code)
    data = pd.read_html(target_url)
    data = data[0]
    data.dropna(how='any', inplace=True)
    data.rename(columns={0:'date',1:'closed',2:'diff',3:'market',4:'high',5:'low',6:'volume'}, inplace=True)
    data.drop([0,], inplace=True)
    
    closed = int(data.iloc[0]['closed'])
    diff = int(data.iloc[0]['diff'])
    market = int(data.iloc[0]['market'])
    
    if market > closed:
        diff = -diff
        fluc = round((diff/(closed-diff)),4)
        
    else:
        fluc = round((diff/(closed+diff)),4)
    
    return fluc

In [157]:
calculate_fluctuation('010400')

0.1046